:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.number {
  display: inline-block;
  padding: 5px;
  background-color: lightgrey;
  margin: 5px;
  color: black;
  min-width: 20px;
}

.active {
  background-color: red;
}

/* got glow styles from W3 schools  cause it illuminates get it 😊😂*/
.title {
  font-size: 80px;
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px white, 0 0 20px #ff0000, 0 0 30px #e60000,
      0 0 40px #cc0000, 0 0 50px #b30000, 0 0 60px #990000, 0 0 70px #800000;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff3333, 0 0 40px #ff0000,
      0 0 50px #e60000, 0 0 60px #cc0000, 0 0 70px #b30000, 0 0 80px #990000;
  }
}
